.italic {
  font-style: italic;
}
.container {
  max-width: 95%;
  width: 95%;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;

  padding-bottom: 30px;
}
.eileen {
  max-width: inherit;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
}
