.no-focus:focus,
.no-focus:hover,
*:focus {
  outline: none;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}
.italic {
  font-style: italic;
}
#menu-container {
  margin-top: 64px;
}
.container {
  max-width: 95%;
  width: 95%;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
  padding-bottom: 30px;
}
.eileen {
  max-width: inherit;
  display: block;
  margin: 0 auto;
  position: relative;
  left: 0;
  right: 0;
}
.router-link,
.no-underline {
  text-decoration: none;
}
.fab-button {
  display: inline-block;
  position: fixed !important;
  right: 15px !important;
  bottom: 15px !important;
  margin: 0;
  padding: 0;
}
.admin-form-input {
  display: block !important;
  width: 50%;

  max-width: 50%;
  margin: 0 auto;
  left: 0;
  right: 0;
  position: relative;
}

@media screen and (max-width: 599px) {
  #menu-container {
    margin-top: 56px;
  }
}
